<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Local</title>
		</head>
	<body>

        <h1><%= local[0].nome %></h1>
        
        <table>
            <thead>
                <th>Endereço</th>
                <th>Bairro</th>
                <th>Cidade</th>
            </thead>
            <tbody>
                <tr>
                    <td><%= local[0].rua %></td>
                    <td><%= local[0].bairro %></td>
                    <td><%= local[0].cidade %></td>
                </tr>
            </tbody>
        </table>

	</body>
</html>