<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Locais</title>
		</head>
	<body>

        <h1>Locais</h1>
        
        <table>
            <thead>
                <th>ID</th>
                <th>Nome</th>
            </thead>
            <tbody>
                <% for (var i = 0; i < locais.length; i++) { %>
                <tr>
                    <td><%= locais[i].id %></td>
                    <td><%= locais[i].nome %></td>
                </tr>
                <% } %>
            </tbody>
        </table>

	</body>
</html>