<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Notícia</title>
		</head>
	<body>

        <h1><%= noticia[0].titulo %></h1>
        
        <table>
            <thead>
				<th>Notícia</th>
				<th>Data</th>
            </thead>
            <tbody>
                <tr>
					<td><%= noticia[0].noticia %></td>
					<td><%= noticia[0].criacao %></td>
                </tr>
            </tbody>
        </table>

	</body>
</html>